:root{
    --color_button :rgb(83, 154, 247);
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
}
.btn{
    cursor: pointer;
    background-color: var(--color_button);
    margin: 10px;
    padding: 15px;
    width: 100px;
    border-radius: 25px;
}
header{
    text-align: center;
    margin-bottom: 8px;
}
table{
    margin-bottom: 5px;
    width: 20%;
}
th { 
    color: var(--color_button);
    font-size: 18px;
}

td {
    text-align: center;
    background: #f9f9f9;
    font-size: 16px;
}
footer{
    display: flex;
    justify-content: center;
}
@keyframes flip {
    0% {
      transform: rotatey(0deg);
    }
    100% {
      transform: rotatey(180deg);
    }
  }
.flip{
    animation: flip 2s infinite linear;
}
.win{
    display:  flex;
    flex-direction: column;
    align-items: center;
}
.loss{
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.hidden{
    display: none;
}
.nav{
    background-color: var(--color_button);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:0 8px;
    border-radius: 20px;
    gap: 70px;
}
.card{
    width: 130px;
    height: 180px;
    
}
.images{   
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6,140px);
    gap: 10px;
}
.images button{
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
}











